/* Based on Catppuccin theme from Omarchy */

@define-color background-color #24273a;
@define-color border-color #c6d0f5;
@define-color label #cad3f5;
@define-color image #cad3f5;
@define-color progress #cad3f5;

window {
  opacity: 0.90;
  background-color: @background-color;
  border-radius: 10px;
  border: 2px solid @border-color;
}

label {
  font-family: 'Noto Sans';
  font-size: 11pt;
  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
