{{ if not .desktop }}
.config/chromium-flags.conf
.config/fontconfig/
.config/foot/
.config/mako/
.config/swayosd/
.config/waybar/
.config/fuzzel/
.config/wlogout/
.config/satty/
.config/imv/
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtk-4.0/
.config/Kvantum/
.config/mimeapps.list
.config/newsboat/
./config/qt5ct/
./config/qt6ct/
./config/uwsm/
{{ end }}

README.md
LICENSE

