@keyframes blink-warning {
    to {
        background-color: #bf616a;
    }
}

@keyframes blink-critical {
    to {
        color: #2e3440;
        background-color: #bf616a;
    }
}

* {
    border: none;
    border-radius: 0;
    font-family: Noto Mono, monospace;
    font-size: 13px;
    min-height: 0;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    background-color: #3b4252;
    color: #e5e9f0;
    opacity: 0.9;
}

#window {
    font-family: Noto Sans, sans-serif;
}

#workspaces {
    background-color: #4c566a;
}

#workspaces button {
    padding: 3px 9px 0px 9px;
    background: transparent;
    color: #e5e9f0;
    border-bottom: 3px solid transparent;
    font-weight: 900;
}

#workspaces button.focused {
    background-color: #434c5e;
    color: #eceff4;
    border-bottom: 3px solid #ebcb8b;
}

#workspaces button:hover {
    background-color: #5e81ac;
}

#mode {
    padding: 0px 9px;
    background-color: #a3be8c;
    color: #3b4252;
    font-family: Noto Sans, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

#clock, #language, #pulseaudio, #tray, #memory, #cpu, #battery {
    padding: 0px 8px;
    color: #d8dee9;
    font-size: 14px;
}

#clock {
    background-color: #4c566a;
    font-weight: bold;
}

#language {
    color: #d8dee9;
    font-weight: bold;
}

#pulseaudio {
}

#pulseaudio.muted {
    color: #d08770;
}

#tray {
}

#cpu {
    padding-left: 0px;
    font-size: 13px;
}

#cpu.warning {
    color: #ebcb8b;
}

#cpu.critical {
    color: #d08770;
}

#memory {
    padding-left: 0px;
    font-size: 13px;
}

#memory.warning {
    color: #ebcb8b;
}

#memory.critical {
    color: #d08770;
}

#battery {
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}
